body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 35px;
}

.container {
    width: 300px;
    padding: 2rem;
    font-size: 15px;
    box-shadow: 0.5px 0.5px 8px gray;
    border-radius: 10px;
}

.credentials {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

button {
    width: 140px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 800;
    background-color: white;
    cursor: pointer;
}

.button {
    margin-top: 20px;
    width: 300px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

#login {
    color: white;
    background-color: hsl(240, 100%, 50%);
    margin-bottom: 20px;
}

#login:hover {
    background-color: hsl(240, 100%, 45%);
}

#SignUp {
    margin-bottom: 20px;
}

#SignUp:hover {
    background-color: hsl(0, 0%, 90%);
}

#forgetpassword:hover {
    color: hsl(0, 0%, 51%);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #666;
    margin: 1rem 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: 0.75em;
}

.divider:not(:empty)::after {
    margin-left: 0.75em;
}