* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    align-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 35px;
}

#userprofile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#userprofile {
    margin-bottom: 10px;
    padding: 20px;
    max-width: fit-content;
    font-family: Arial;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.container {
    width: 400px;
    min-height: 300px;
    padding: 2rem;
    font-size: 15px;
    box-shadow: 0.5px 0.5px 8px gray;
    border-radius: 10px;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#logout-btn {
    background-color: #eee;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 15px;
    padding: 8px;
    color: black;
}

#logout-btn:hover {
    background-color: hsla(0, 0%, 50%, 0.363);
    transform: translateY(-1px);
    cursor: pointer;
}

.task-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

.task-input select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.task-input select:focus {
    border-color: blue;
}

.Add-task-btn {
    display: flex;
    justify-content: right;
}

.Add-task-btn button {
    margin-bottom: 12px;
    width: 140px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    background-color: hsla(226, 100%, 50%, 0.877);
    cursor: pointer;
}

.Add-task-btn button:hover {
    background-color: hsla(226, 100%, 50%, 0.757);
    transform: translateY(-1px);
}

#tasklist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

/*Animation for li */
li {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

li.show {
    opacity: 1;
    transform: translateY(0);
}

li input[type="checkbox"]:checked+.task-text {
    text-decoration: line-through;
    color: gray;
    transition: all 0.3s ease-in-out;
}

.task-text {
    flex: 1;
    margin-left: 10px;
}

.category {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    color: white;
}

.category.low {
    color: limegreen;
}

.category.medium {
    color: gold;
}

.category.high {
    color: red;
}

.delete-btn {
    margin-left: 12px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: red;
    cursor: pointer;
}